                              
     <%- include("../_header") -%>

     <form action="/action_page.php">
        <label for="post">Post Title:</label><br>
        <input type="text" id="postt" name="postt" ><br>
        <label for="post">Post Content:</label><br>
        <input type="textarea" id="postc" name="postc" ><br><br>
        <input type="submit" value="Add Post">
      </form>                

     <%- include("../_footer") -%>