<%- include("../_header") -%>

<table style="width:100%">
    <tr>
      <th>User</th>
      <th>Operations</th> 
    </tr>
    <tr>
      <td>User</td>
      <td>Edit</td> 
      <td>Delete</td>
      <td>Enable/Disable</td>
    </tr>
  </table>            

<%- include("../_footer") -%>