
                               
     <%- include("_header") -%>

                              
<main>        
<!------------------------Start of Blog boxes------------------------------->
            <div class="parentblog" id="allblogs"> 
                <div class="container">
                    <div class="fixed">Blog Entry</div>
                    <div class="flex-item">Blog Entry</div>
                </div>
                <div class="container">
                    <div class="fixed">Blog Entry</div>
                    <div class="flex-item">Blog Entry</div>    
                </div>
<!-------------------------End of Blog boxes-------------------------------->   
</main>            
        
        <%- include("_footer") -%>